<html lang="en">
<head>
  <%- include("../partials/imports") %>
  <%- include("../partials/meta", {title: "Home"}) %>
</head>
<body>
  <%- include("../partials/nav") %>

  <main>
    <h1>Welcome <%= currentUser.firstName %>,</h1>
    <p><br>You are now part of the MediTrack lifestyle!
      <br><br>Using this application is as easy as 1-2-3!
      
    </p>
  </main>
  

  <%- include("../partials/footer") %>
</body>
</html>
